<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409098582542-d6uo3ufcsv7lpo95ksgle7ha3n9ia0v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409098582542-d6uo3ufcsv7lpo95ksgle7ha3n9ia0v4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409098582542-6d1dq41sqhnjahpl5loo7hha520llg4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrHuuGQZs9h3DUZPJJ1FpFpZuc-8jbRnc</string>
	<key>GCM_SENDER_ID</key>
	<string>409098582542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wrteam.flutterquiz</string>
	<key>PROJECT_ID</key>
	<string>analog-reef-300115</string>
	<key>STORAGE_BUCKET</key>
	<string>analog-reef-300115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409098582542:ios:f39687b2078ee39488da5f</string>
</dict>
</plist>